.cartao-dino {
    display: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    width: 430px;
    

}

.cartao-dino .cartao-topo {
    padding: 30px 40px 0;
}

.cartao-dino .nome {
    margin-bottom: 5px;
}

.cartao-dino .tipo {
    font-size: 12px;
    background-color: #FFFFFF;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cartao-dino .detalhes {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao-dino .cartao-imagem {
    width: 350px;
    height: 350px;
}

.cartao-dino img {
    max-height: 100%;
}

.cartao-dino .cartao-informacoes {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 80px 30px 50px;
    margin-top: -70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cartao-dino .cartao-informacoes h3 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6B727A;
}

.cartao-dino .cartao-informacoes .infos, .cartao-dino .cartao-informacoes .sobre {
    padding: 0 10px;
    width: 180px;
}

.cartao-dino .cartao-informacoes .sobre ul li, .cartao-dino .cartao-informacoes .infos ul li {
    border-bottom: 1px solid #C3C4C5;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.cartao-dino.aberto {
    display: block;
}

.tipo-carnivoro {
    background-color: brown;
}

.tipo-herbivoro {
    background-color: #49D0B0;
}

.tipo-onivoro {
    background-color: #76BEFE;
}

